<template>
    <el-aside class="base-aside">
        <div class="base-aside__logo" @click="isCollapse = !isCollapse">
            <svg :width="isCollapse ? 68 : 165" height="64" :viewBox="`0 0 ${isCollapse ? 68 : 165} 64`" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_641)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41 48.5C50.3888 48.5 58 41.1127 58 32C58 22.8873 50.3888 15.5 41 15.5C31.6112 15.5 24 22.8873 24 32C24 41.1127 31.6112 48.5 41 48.5ZM42.0415 39.9769C42.9323 39.4638 43.9438 38.8799 44.8879 38.335L44.955 38.2962C46.2075 37.5733 47.3328 36.9239 47.8873 36.6064C48.8682 36.0448 49.5 35.582 49.5 34.5485C49.5 34.0242 49.4984 32.1247 49.4968 30.2634L49.4967 30.1524C49.4951 28.3833 49.4937 26.6743 49.4937 26.2433C49.4937 25.3504 48.6494 24.7695 47.5869 25.3719C46.6623 25.8961 41.0004 29.1688 41.0004 29.1688C41.0004 29.1688 35.4544 25.9626 34.4141 25.3719C33.3739 24.7811 32.5073 25.3332 32.5073 26.2507C32.5073 27.1681 32.5036 33.8984 32.5 34.5467C32.5 35.596 33.1675 36.0502 34.1125 36.6064C35.0575 37.1626 37.8342 38.7739 39.9623 39.9769C40.1275 40.0702 40.4782 40.25 41.0012 40.25C41.5241 40.25 41.8943 40.0616 42.0415 39.9769Z" fill="#D3F36B"/>
                </g>
                <path d="M71.6172 39V26.1504H74.3418V36.75H79.5537V39H71.6172ZM86.9625 39H81.1178V37.4531L82.6823 36.7324V28.418L81.1178 27.6973V26.1504H86.9625V27.6973L85.3981 28.418V36.7324L86.9625 37.4531V39ZM96.8587 26.1504H99.6096L95.2415 39H92.2708L87.9114 26.1504H90.6624L93.0794 33.7969C93.2141 34.248 93.3518 34.7754 93.4925 35.3789C93.6389 35.9766 93.7298 36.3926 93.7649 36.627C93.8294 36.0879 94.0491 35.1445 94.4241 33.7969L96.8587 26.1504ZM108.996 39H101.596V26.1504H108.996V28.3828H104.32V31.2041H108.671V33.4365H104.32V36.75H108.996V39ZM112.045 39V26.1504H114.77V36.75H119.982V39H112.045ZM127.391 39H121.546V37.4531L123.111 36.7324V28.418L121.546 27.6973V26.1504H127.391V27.6973L125.826 28.418V36.7324L127.391 37.4531V39ZM129.957 26.1504H133.956C135.778 26.1504 137.099 26.4111 137.92 26.9326C138.746 27.4482 139.159 28.2715 139.159 29.4023C139.159 30.1699 138.977 30.7998 138.614 31.292C138.257 31.7842 137.779 32.0801 137.181 32.1797V32.2676C137.996 32.4492 138.582 32.7891 138.939 33.2871C139.303 33.7852 139.484 34.4473 139.484 35.2734C139.484 36.4453 139.059 37.3594 138.21 38.0156C137.366 38.6719 136.218 39 134.764 39H129.957V26.1504ZM132.681 31.2393H134.264C135.002 31.2393 135.535 31.125 135.863 30.8965C136.197 30.668 136.364 30.29 136.364 29.7627C136.364 29.2705 136.182 28.9189 135.819 28.708C135.462 28.4912 134.893 28.3828 134.114 28.3828H132.681V31.2393ZM132.681 33.4014V36.75H134.457C135.207 36.75 135.761 36.6064 136.118 36.3193C136.475 36.0322 136.654 35.5928 136.654 35.001C136.654 33.9346 135.892 33.4014 134.369 33.4014H132.681Z" fill="#D3F36B" v-show="!isCollapse"/>
                <defs>
                    <clipPath id="clip0_1_641">
                        <rect width="34" height="33" fill="white" transform="translate(24 15.5)"/>
                    </clipPath>
                </defs>
            </svg>

        </div>
        <el-menu
            default-active="2"
            class="base-aside__menu"
            :collapse="isCollapse"
            @open="handleOpen"
            @close="handleClose"
        >
            <el-menu-item :index="i" v-for="(item, i) in content" :key="item.text" :class="`base-aside__menu-item base-aside__menu-item--${item.name}`">
                <el-icon><component :is="item.icon" /></el-icon>
                <template #title>{{item.text}}</template>
            </el-menu-item>
        </el-menu>
    </el-aside>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import {
  User,
  Reading,
  EditPen,
  Paperclip,
  Memo,
  Guide,
  DataLine,
  Setting
} from '@element-plus/icons-vue'

const content = [
    {
        name: 'user',
        text: 'Мой профиль',
        icon: User
    },
    {
        name: 'reading',
        text: 'Мои книги',
        icon: Reading
    },
    {
        name: 'editpen',
        text: 'Мои рецензии',
        icon: EditPen
    },
    {
        name: 'paperclip',
        text: 'Мои цитаты',
        icon: Paperclip,
    },
    {
        name: 'memo',
        text: 'Моя лента',
        icon: Memo
    },
    {
        name: 'setting',
        text: 'Настройки',
        icon: Setting
    },
    {
        name: 'dataline',
        text: 'Статистика',
        icon: DataLine
    },
    {
        name: 'guide',
        text: 'Выйти',
        icon: Guide
    },
]

const isCollapse = ref(true)
const handleOpen = () => {
    console.log('open menu')
}

const handleClose = () => {
    console.log('close menu')
}
</script>

<style lang="scss">
.base-aside {
    --el-aside-bg: #1C1C1C;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background: var(--el-aside-bg);
    z-index: 1;

    &__menu {
        --el-menu-border-color: transparent;
        --el-menu-bg-color:  #1C1C1C;
        height: calc(100% - 70px);
        width: 370px;
        display: flex;
        flex-direction: column;

        &.el-menu--collapse {
            width: 68px;
        }

        &-item {
            &--user,
            &--setting,
            &--setting ~ * {
                --el-menu-text-color: #fff;
                --el-menu-active-color: #fff;
            }

            &--setting {
                margin-top: auto;
            }
        }
    }

    &__logo {
        transform: translateX(-8px);
    }
}

</style>
