<template>
  <el-header class="base-header">
    <nav class="base-header__nav">
      <el-link v-for="item in content" :key="item.text">
        {{ item.text }}
      </el-link>
    </nav>
    <el-input
      v-model="search"
      class="base-header__search"
      placeholder="Type something"
      :suffix-icon="Search"
    />
    <div class="base-header__buttons">
      <el-button :icon="Star" circle />
      <el-badge :value="3" type="primary" :max="99">
        <el-button :icon="Bell" circle />
      </el-badge>
      <el-button :icon="Message" circle />
    </div>
    <el-menu
        :default-active="activeIndex"
        class="base-header__tabs"
        mode="horizontal"
        @select="handleSelect"
        :ellipsis="false"
      >
      <el-menu-item index="1">Автор</el-menu-item>
      <el-menu-item index="2">Читатель</el-menu-item>
    </el-menu>
    <div class="base-header__user">
      <el-avatar
        class="base-header__user-avatar"
        :size="42"
        src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
      />
      </div>
  </el-header>
</template>

<script lang="ts" setup>
import { ref } from "vue"
import { Search, Message, Bell, Star } from '@element-plus/icons-vue'

const content = [
  {
    text: 'Главная'
  },
  {
    text: 'Что почитать'
  },
  {
    text: 'Жанры'
  },
  {
    text: 'Авторы'
  }
]

const search = ref()

const activeIndex = ref('1')
const handleSelect = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}
</script>

<style lang="scss">
@use '../assets/styles.scss';
.base-header {
  --el-header-bg: #fff;
  --el-header-color: #1C1C1C;
  --el-text-color-regular: #1C1C1C;

  --el-header-border: #DDDCE3;
  --el-header-border-active: #1C1C1C;

  --el-border-color-light: transparent;
  --el-header-padding: 10px 10px 10px 100px;
  --el-header-height: 64px;

  display: flex;
  align-items: center;
  background-color: var(--el-header-bg);
  color: var(--el-header-color);
  border-bottom: 1px solid #DDDCE3;

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;

    & > * {
      flex-shrink: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > * {
      flex-shrink: 0;
      width: 42px;
      height: 42px;
      font-size: 20px;

      .el-button {
        font-size: inherit;
        width: 100%;
        height: 100%;
      }
    }

    .el-button+.el-button {
      margin-left: 4px;
    }
  }

  &__search {
    --el-input-text-color: var(--el-text-color-regular);
    --el-input-border: transparent;
    --el-input-hover-border: transparent;
    --el-input-focus-border: transparent;
    --el-input-transparent-border: 0 0 0 1px transparent inset;
    --el-input-border-color: transparent;
    --el-input-border-radius: var(--el-border-radius-base);
    --el-input-bg-color: transparent;
    --el-input-icon-color: var(--el-text-color-regular);
    --el-input-placeholder-color: #6A6B71;
    --el-input-hover-border-color: transparent;
    --el-input-clear-hover-color: transparent;
    --el-input-focus-border-color: transparent;
    --el-input-width: 100%;

    flex-grow: 0;
    width: 365px;
    margin-left: 24px;

    .el-input__inner {
      --el-input-inner-height: 42px;

      border: 1px solid var(--el-header-border);
      border-radius: 28px;
      padding: 12px 18px;
    }

    .el-input__suffix {
      width: 42px;
      height: 42px;
      border: 1px solid var(--el-header-border-active);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .el-input__icon {
      margin-left: 0;
      font-size: 20px;
    }
  }

  &__tabs {
    margin-left: 8px;

    --el-menu-item-height: 42px;
    --el-menu-active-color: var(--el-text-color-regular);
    // --el-menu-hover-text-color: var(--el-text-color-regular);
    --el-menu-hover-bg-color: transparent;

    border-bottom: 1px solid var(--el-header-border);
    border-right: 1px solid var(--el-header-border);
    border: 1px solid var(--el-header-border);
    border-radius: 40px;

    .el-menu-item {
      border-radius: 40px;
      transition: border 0.3s ease;
      border-bottom: 1px solid transparent;
      border: 1px solid transparent;

      &.is-active {
        border-bottom: 1px solid var(--el-header-border-active);
        border: 1px solid var(--el-header-border-active);
      }
    }
  }

  &__user {
    margin-left: 8px;

    &-avatar {
      border: 1px solid var(--el-header-border-active);
    }
  }
}
</style>
