<template>
    <el-card class="preview-count-card" shadow="never">
        <div>
            <div class="preview-count-card__count">{{ count }}</div>
            <div class="preview-count-card__text">{{ text }}</div>
        </div>
        <el-icon :icon="Bell" circle >
            <Bell />
        </el-icon>
    </el-card>
</template>

<style lang="scss">
.preview-count-card {
    height: 99px;

    --el-card-border-radius: 0;
    border: none;

    .el-card__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__count {
        font: 500 24px/28px sans-serif;
    }

    &__text {
        font: 500 10px/15px sans-serif;
        color: #6A6B71;
        margin-top: 4px;
    }
}
</style>

<script lang="ts" setup>
import { Search, Message, Bell, Star } from '@element-plus/icons-vue'

defineProps({
    count: { type: Number, default: 0 },
    text: { type: String },
    icon: { type: String },
})
</script>
