<template>
    <el-card class="preview-book-card" shadow="never">
        <el-tag class="preview-book-card__label" type="info" round>
            {{ label }}
        </el-tag>
        <el-tag class="preview-book-card__rate" type="info" round>{{ rate }}</el-tag>
        <img class="preview-book-card__image" :src="image.src" :alt="image.alt"/>
        <div>
            <div class="preview-book-card__title">{{ title }}</div>
            <div class="preview-book-card__text">{{ text }}</div>
        </div>
    </el-card>
</template>

<style lang="scss">
@import '../assets/styles.scss';

.preview-book-card {
    --el-card-border-radius: 0;
    --el-card-padding: 0;
    --el-card-bg-color: transparent;

    box-sizing: border-box;
    width: 201px;
    position: relative;
    border: none;

    &__label,
    &__rate {
        position: absolute;
        top: 12px;
    }

    &__label {
        left: 12px;
    }

    &__rate {
        right: 12px;
    }

    &__image {
        width: 100%;
        height: 286px;
        border-radius: 20px;
        display: block;
        object-fit: cover;
    }

    &__title {
        font: 500 16px/22px sans-serif;
        color: #1c1c1c;
        margin-top: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__text {
        font: 500 10px/15px sans-serif;
        color: #6A6B71;
        margin-top: 4px;
    }
}
</style>

<script lang="ts" setup>
import type { PropType } from 'vue';

type ImageType = {
    src: String,
    alt: String
}

defineProps({
    title: { type: String },
    text: { type: String },
    label: { type: String },
    rate: { type: String },
    image: { type: Object as PropType<ImageType> },
})
</script>
