<template>
    <div class="user-info-aside">
        <div class="user-info-aside__preview">
            <div class="user-info-aside__preview-avatar">
                <img :src="content.avatar" alt="avatar"/>
            </div>
            <div>
                <div class="user-info-aside__preview-name">{{content.name}}</div>
                <div class="user-info-aside__preview-login">{{content.login}}</div>
                <div class="user-info-aside__preview-location">{{content.location}}</div>
            </div>
        </div>
        <div class="user-info-aside__subscribes">
            <div class="user-info-aside__subscribes-item">
                Подписчики
                <div class="user-info-aside__subscribes-count">214</div>
            </div>
            <div class="user-info-aside__subscribes-item">
                Подписки
                <div class="user-info-aside__subscribes-count">69</div>
            </div>
        </div>
        <div class="user-info-aside__achievements">
            <div class="user-info-aside__achievements-items">
                <div class="user-info-aside__achievements-item">
                    Вызов 2022 🔥
                </div>
                <div class="user-info-aside__achievements-item">
                    Рецензия 2023 📖
                </div>
                <div class="user-info-aside__achievements-item">
                    Читатель №1 ⭐
                </div>
            </div>
            <p class="user-info-aside__achievements-text"> У вас 3 значка за прошлый год, чтобы получить новые, примите участие в новом книжном челлендже</p>
            <button class="user-info-aside__achievements-button">
                Новые челленджи
                <div class="user-info-aside__achievements-icon">-></div>
            </button>
        </div>

        <button class="user-info-aside__edition">
            Редактировать профиль
            <div class="user-info-aside__edition-icon">-></div>
        </button>
        <div class="user-info-aside__status">На livelib с 14 апреля 2017 года</div>
    </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const content = {
    name: 'Галина Морозова',
    login: '@galina.m',
    location: 'Ульяновск',
    avatar: '/public/avatar.jpg'
}

</script>

<style lang="scss">
.user-info-aside {
    --el-user-info-bg: #fff;
    --el-user-info-ext-color-regular: #1C1C1C;

    background-color: var(--el-user-info-bg);
    width: 300px;
    margin-left: 68px;
    border-right: 1px solid #DDDCE3;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;

    &__preview {
        color: var(--el-user-info-ext-color-regular);
        display: flex;
        gap: 8px;
        padding: 12px;
        border-bottom: 1px solid #DDDCE3;
    }

    &__preview-avatar {
        width: 71px;
        height: 71px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            right: 3px;
            background-color: #D3F36B;
        }
    }

    &__preview-name {
        font: 600 12px/16px;
        text-transform: uppercase;
    }

    &__preview-login {
        font: 500 12px/18px;
        text-transform: lowercase;
        color: #6A6B71;
    }

    &__preview-location {
        font: 500 12px/18px;
        text-transform:capitalize;
        margin-top: 10px;
    }

    &__status {
        font: 500 12px/18px;
        color: #6A6B71;
        // margin-top: auto;
        text-align: center;
        padding: 24px 12px;
    }

    &__subscribes {
        padding: 12px;
        border-bottom: 1px solid #DDDCE3;
        width: 100%;
    }

    &__subscribes-item {
        display: flex;
        border: 1px solid #DDDCE3;
        height: 66px;
        width: 100%;
        border-radius: 35px;
        color: var(--el-user-info-ext-color-regular);
        display: flex;
        align-items: center;
        padding: 14px 20px;
        flex-grow: 0;

        & + & {
            margin-top: 4px;
        }
    }

    &__subscribes-count {
        margin-left: auto;
        background-color: #1C1C1C;
        color: #fff;
        width: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        height: 38px;
        font: 500 12px/18px;
    }

    &__achievements {
        border: 1px solid #DDDCE3;
        width: calc(100% - 24px);
        margin: auto;
        border-radius: 32px;
        padding: 12px;
        margin-top: 12px;
        color: #1c1c1c;
        font: 500 12px/18px 'Nano', sans-serif;
    }

    &__achievements-items {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        & > * + * {
            margin-right: -70px;
        }
    }

    &__achievements-item {
        display: flex;
        border: 1px solid #1c1c1c;
        height: 58px;
        width: 100%;
        border-radius: 40px;

        background-color: #D3F36B;
        display: flex;
        align-items: center;
        padding: 16px;
        flex-grow: 0;

        white-space: nowrap;
    }

    &__achievements-text {
        margin-top: 7px;
    }

    &__achievements-button {
        margin-top: 12px;
        background-color: #1C1C1C;
        color: #fff;
        height: 66px;
        width: 100%;
        border-radius: 34px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none;
    }

    &__achievements-icon {
        margin-left: auto;
    }

    &__edition {
        margin-top: 12px;
        background-color: #fff;
        color: #1C1C1C;
        height: 66px;
        width: 100%;
        border-radius: 34px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #DDDCE3;
        width: calc(100% - 24px);
        margin: auto auto 0;
    }

    &__edition-icon {
        margin-left: auto;
    }
}

</style>
