.el-badge {
    --el-badge-radius: 50%;
    --el-badge-font-size: 10px;
    --el-badge-padding: 4px;
    --el-badge-size: 15px;

    &__content.is-fixed {
        top: 10px;
        right: 20px;
    }
}

.el-main {
    position: relative;
    // overflow: auto;
    --el-main-padding: 0;
}

.el-notification {
    --el-notification-width: 100%;
    position: relative;
    margin-bottom: 16px;

    &.right {
        top: 0 !important;
        right: 0;
    }
}

.el-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .el-progress-circle {
        width: 100% !important;
        height: 100% !important;
    }
}

.common-layout {
    width: 100%;
    height: 100%;
    display: flex;
}

.heading-1 {
    font: 500 16px/22px sans-serif;
    color: #1c1c1c;
    text-transform: uppercase;
    margin-bottom: 8px;
}
