<template>
      <BaseHeader/>
      <BaseAside/>
    <el-container class="common-layout">
       <UserInfoAside/>
      <el-main>
        <div class="wrapper-notification" ref="mainSection">
          <ElNotification
            v-if="el"
            title=""
            :dangerouslyUseHTMLString="true"
            message='Задайте <a href="#">способы восстановления</a>, чтобы не потерять доступ к профилю'
            :appendTo="el"
            customClass="notifications"
            duration="0"
          />
        </div>
        <div class="preview-list">
          <PreviewCountCard v-for="item in preview_cards" :key="item.id"
              class="preview-list__item preview-list__item--quoter"
              :count="item.count"
              :text="item.text"
            />
        </div>
        <div class="preview-list">
            <div class="preview-list__item preview-list__item--half">
              <div class="heading-1">Читаю сейчас <el-tag type="info" round>3</el-tag></div>
              <PreviewBookCard v-for="item in books_in_reading" :key="item.id"
                  :title="item.title"
                  :text="item.text"
                  :rate="item.rate"
                  :label="item.label"
                  :image="item.image"
                />
            </div>
            <div class="preview-list__item preview-list__item--half">
              <div class="heading-1">Книгообмен <el-tag type="info" round>2</el-tag></div>
              <PreviewBookCard v-for="item in books_in_reading" :key="item.id"
                  :title="item.title"
                  :text="item.text"
                  :rate="item.rate"
                  :label="item.label"
                  :image="item.image"
                />
            </div>
        </div>
        <div class="preview-list">
            <div class="preview-list__item preview-list__item--half">
              <div class="heading-1">Книжный вызов 2023</div>
              <div class="progress-legend">
                <div class="progress-legend__item">
                  <span class="progress-legend__mark" style="background-color: #D3F36B"></span>
                  <div>
                    <div class="progress-legend__count">36<span>/71</span></div>
                    <div class="progress-legend__text">прочитано</div>
                  </div>
                </div>
                <div class="progress-legend__item">
                  <span class="progress-legend__mark" style="background-color: #73ED12"></span>
                  <div>
                    <div class="progress-legend__count">22<span>/71</span></div>
                    <div class="progress-legend__text">план чтения</div>
                  </div>
                </div>
                <div class="progress-legend__item">
                  <span class="progress-legend__mark" style="background-color: #4DAE00"></span>
                  <div>
                    <div class="progress-legend__count">35</div>
                    <div class="progress-legend__text">хочу прочитать</div>
                  </div>
                </div>
                <div class="progress-legend__item">
                  <div>
                    <div class="progress-legend__count">5</div>
                    <div class="progress-legend__text">план чтения</div>
                  </div>
                </div>
              </div>
              <div class="progress-wrapper">
                <el-progress type="circle" :percentage="50" :show-text="false" :stroke-width="12" color="#D3F36B">
                </el-progress>
                <el-progress type="circle" :percentage="60" :show-text="false" :stroke-width="13" color="#73ED12">
                </el-progress>
                <el-progress type="circle" :percentage="30" :stroke-width="15" color="#4DAE00">
                  <span class="progress-wrapper__text">71 книга</span>
                </el-progress>
              </div>
            </div>
            <div class="preview-list__item preview-list__item--half">
              <div class="heading-1">может понравиться</div>

            </div>
        </div>
      </el-main>
    </el-container>
</template>

<script setup>
import {ref, onMounted, getCurrentInstance } from 'vue'
import BaseHeader from './components/BaseHeader.vue'
import BaseAside from './components/BaseAside.vue'
import UserInfoAside from './components/UserInfoAside.vue'

const cards = ref([
  {
    id: '000',
    name: 'Calendar',
    calendar: true
  },
  {
    id: '111',
    name: 'Card name 1',
    ref: 'circlechart'
  },
  {
    id: '222',
    name: 'Card name 2',
    ref: 'sparkchart'
  },
])
const preview_cards = ref([
  {
    id: '0000',
    text: 'прочитано',
    count: 845
  },
  {
    id: '1111',
    text: 'хочу прочитать',
    count: 133
  },
  {
    id: '2222',
    text: 'моя библиотека',
    count: 112
  },
  {
    id: '3333',
    text: 'не дочитано',
    count: 7
  },
])
const books_in_reading = ref([
  {
    id: '0000',
    title: 'Парфюмер. История одного убийцы',
    text: 'Томас Харрис',
    rate: '4,8',
    label: 'Читаю сейчас',
    image: {
      src: '/public/preview-book.jpg',
      alt: 'woman with long red hair lying with whire flower in her hand'
    }
  },
])

const showNotifications = ref(true)
const mainSection = ref()
const { appContext } = getCurrentInstance(mainSection.value)
const el = ref()

onMounted(() => {
  el.value = mainSection.value
})
</script>


<style lang="scss">
@import './assets/styles.scss';

.preview-list {
  display: flex;
  width: 100%;
  border: 1px solid #DDDCE3;

  & > * {
    flex-grow: 1;

    &:not(:first-child) {
      border-left: 1px solid #DDDCE3;
    }
  }

  &__item {
    &--half {
      width: 50%;
      padding: 16px 0 0 20px;
    }

    &--quoter {
      width: 25%;
    }

    & + & {
      border-left: 1px solid #DDDCE3;
    }
  }
}

.progress-wrapper {
  position: relative;
  height: 395px;

  .el-progress:first-child {
    width: 395px;
    height: 395px;

    path.el-progress-circle__track {
      stroke: rgba(#EFEFF0, 0.6);
    }
  }

  .el-progress:nth-child(2) {
    width: 324px;
    height: 324px;

    path.el-progress-circle__track {
      stroke: rgba(#EFEFF0, 0.8);
    }
  }

  .el-progress:nth-child(3) {
    width: 254px;
    height: 254px;

    path.el-progress-circle__track {
      stroke: #EFEFF0;
    }
  }

  &__text {
    font: 500 24px/28px sans-serif;
    color: #1c1c1c;
  }
}

.progress-legend {
  display:flex;
  gap: 26px;
  margin-bottom: 24px;

  &__item {
    display: flex;
    align-items: center;
  }

  &__mark {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__count {
    font: 700 18px/24px sans-serif;
    color: #1c1c1c;

    span {
      color: #D2D3D5;
      font: 500 10px/15px sans-serif;
    }
  }

  &__text {
    font: 500 10px/15px sans-serif;
    color: #1c1c1c;
  }
}
</style>
